<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Teddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <Teddy.Properties.Settings>
          <setting name="Uuid" serializeAs="String">
              <value>70644b30-8526-11e4-ba2f-eba61e7541e1</value>
          </setting>
          <setting name="TxCount" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="BatterySizemWh" serializeAs="String">
              <value>16000</value>
          </setting>
          <setting name="BitsPerTx" serializeAs="String">
              <value>160</value>
          </setting>
          <setting name="TimePassedSeconds" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="RxCount" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="BitsTxCount" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="BitsRxCount" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="BitsPerRx" serializeAs="String">
              <value>160</value>
          </setting>
          <setting name="BitsPerAck" serializeAs="String">
              <value>160</value>
          </setting>
          <setting name="BitsProtocolOverhead" serializeAs="String">
              <value>160</value>
          </setting>
          <setting name="TRxPerDay" serializeAs="String">
              <value>4</value>
          </setting>
          <setting name="Username" serializeAs="String">
              <value />
          </setting>
          <setting name="Password" serializeAs="String">
              <value />
          </setting>
          <setting name="CsqValueAtRefdBm" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="Host" serializeAs="String">
              <value>v2b.neul.com</value>
          </setting>
      </Teddy.Properties.Settings>
    </userSettings>
<startup> <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
<startup useLegacyV2RuntimeActivationPolicy="true" ></startup>
</configuration>
